aiohttp
configparser
future

# Basic modules
numpy
openai
pipmaster
pydantic
python-dotenv
azure-storage-blob
httpx
azure-core
networkx


setuptools
tenacity

# LLM packages
tiktoken

# Extra libraries are installed when needed using pipmaster
