aiohttp
configparser
graspologic
future

# Basic modules
adlfs
numpy
networkx
pipmaster
pydantic
python-dotenv
msal

setuptools
tenacity

# LLM packages
tiktoken

# Extra libraries are installed when needed using pipmaster
