aiohttp
configparser
future

# Basic modules
numpy
pipmaster
pydantic
python-dotenv
msal
azure-storage-blob
azure-core


setuptools
tenacity

# LLM packages
tiktoken

# Extra libraries are installed when needed using pipmaster
